.Header {
  width: 100%;
  border-top: 3px solid white;
  display: flex; /* Assurez-vous que Header est aussi un flex container */
}

.Header-nav1, .Header-nav2 {
  flex: 1; /* Chaque nav prend 50% de l'espace */
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.Header-nav1 {
  justify-content: space-between; /* Répartit les éléments de nav1 sur tout l'espace disponible */
}

.Header-nav2 {
  justify-content: flex-end; /* Alignement à droite pour nav2 */
}

.Header-nav div {
  display: flex;
  align-items: center;
}

.first-link a, .second-link a, .third-link a, .fourth-link a {
  text-decoration: none;
  color: white;
  padding: 10px 15px; /* Ajoute un peu de padding autour des liens pour un meilleur clic */
}