.Header {
  width: 100%;
  border-top: 3px solid white;
  color: white;
  padding: 10px 0;
  display: flex;
}

.Header-nav1, .Header-nav2 {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.Header-nav1 {
  justify-content: space-between; 
}

.Header-nav2 {
  justify-content: flex-end;
}

.Header-nav div {
  display: flex;
  align-items: center;
}

.first-link a, .second-link a, .third-link a, .fourth-link a {
  text-decoration: none;
  color: white;
}